---
services:
  watchtower:
    container_name: watchtower
    image: nickfedor/watchtower:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json
    command: --interval 30
    networks:
     - traefik-net

networks:
   traefik-net:
    external: true
